/*     General Formats     */
.wrapper {
	width: 1200px;
	height: 900px;
	margin: 0 auto;
	padding: 0;
}
.header {
	color: black;
	text-align: center;
	padding: 5px;
	position: relative;
}
.footer {
	color:#10156F;
	font-family: Times;
	font-size: 24px;
	text-align: center;
	height: 75px;


}
h1 {
	text-align: center;
}



.hype_b_right {
	position: absolute;
	bottom: 20px;
	right: 50px;
}
#numberOfGames{
	font-size: 32px;
	text-align: center;
	color:  #1DBBFF;
}
#gameTitles{
	text-align: justify;
	font-size: 20px;
	color:  #1DBBFF;
}
#recentlyPlayed{
	font-size: 32px;
	text-align: center;
	color: #1DBBFF;
}
#someOneElse{
	font-size: 32px;
	text-align: center;
	color:  #1DBBFF;
}